html {
  height: 100%;
}
body {
  height: 100%;
}
#mainVisual {
  z-index: 100;
  background-repeat: no-repeat;
  background-position: center center;
  top: 0;
  width: 100%;
  height: 60%;
  position: absolute;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  -moz-transition: -moz-transform 0.5s ease-in;
  -o-transition: -o-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  margin: 0;
}
#mainVisual > header {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  margin: 0;
}
#mainVisual > header > h1 {
  position: relative;
  top: -51.5px;
  height: 103px;
  line-height: 103px;
  margin: 0;
}
#mainVisual > header > h1 > .container > .row > div {
  background-image: url(../images/title_555.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
#mainVisual.slideUp {
  -webkit-transform: translate3d(0, -100%, 0);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
}
#buttons {
  z-index: 100;
  background-color: white;
  bottom: 0;
  width: 100%;
  height: 40%;
  position: absolute;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  -moz-transition: -moz-transform 0.5s ease-in;
  -o-transition: -o-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
}
#buttons > div {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  text-align: center;
}
#buttons > div > div {
  position: relative;
  top: -17px;
  height: 34px;
}
#buttons.slideDown {
  -webkit-transform: translate3d(0, 100%, 0);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
}
#viewport {
  z-index: 0;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
#viewport .pages {
  top: 0;
  width: 7400px;
  height: 1798px;
  position: absolute;
}
#viewport .pages .page-spread {
  height: 1698px;
  top: 50px;
  position: absolute;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
#viewport .pages .page-spread.fadeIn {
  opacity: 1;
  filter: alpha(opacity=100);
}
#viewport .pages .page-spread.page-spread-1 {
  width: 1200px;
  left: 50px;
}
#viewport .pages .page-spread.page-spread-2 {
  width: 3600px;
  left: 1300px;
}
#viewport .pages .page-spread.page-spread-3 {
  width: 2400px;
  left: 4950px;
}
#viewport .pages .page-spread .thumb {
  width: 1200px;
  height: 1698px;
  top: 0;
  position: absolute;
  background-size: 1200px, 1698px;
  background-color: #fff;
}
#viewport .pages .page-spread .thumb .page {
  width: 100%;
  height: 100%;
  background-size: 1200px, 1698px;
}
#viewport .pages .page-spread .thumb.thumb-1 {
  left: 0;
}
#viewport .pages .page-spread .thumb.thumb-2 {
  left: 0;
}
#viewport .pages .page-spread .thumb.thumb-3 {
  left: 1200px;
}
#viewport .pages .page-spread .thumb.thumb-4 {
  left: 2400px;
}
#viewport .pages .page-spread .thumb.thumb-5 {
  left: 0;
}
#viewport .pages .page-spread .thumb.thumb-6 {
  left: 1200px;
}
#dlBtnWrapper {
  z-index: 50;
  display: none;
  top: 20px;
  right: 20px;
  position: absolute;
}
